<html>
    <form action="/follow" method="POST">
      <h3>Search for an username to follow: </h3>
        <input type="text" name="followee" placeholder="username" >
        <p><input type="submit" value="Submit"> </p>
    </form>

<!--     <h3>Followers</h3>
    <table>
      {% for f in followers %}          
        <p> {{f.follower}}<p>
      {% endfor %}  
    </table>
          

    <h3>Following</h3>
    <table>
      {% for f in followees %}
        <p> {{f.followee}}<p>
      {% endfor %}  
    </table>
           -->
      
  <a href="/home">Go back</a>
   
</html>