<!DOCTYPE html>
<html lang="en">
<body>

    {#    -------------------------------- show visible photos ------------------------------------------#}

    <h1>Photos</h1>
    <table border="1">
        <th>pID</th>
        <th> url </th>
        <th> poster </th>

    {% for photo in photos %}
        
        <tr>
            <td>{{photo.pID}}</td>
            <td><a href="/viewPhotos/{{photo.pID}}">{{photo.pID}}</a></td>
            <td>{{photo.poster}}</td>
        </tr>
           
       
    {% endfor %}
    </table>

    <h3>Search by Tag</h3>
    <form action="/searchByTag" method="post">
            <input type="text" name="tagged" placeholder="Search" >
            <input type="submit" value="Search">
        </form>

    {% if message %}
        {{ message }}
    {% endif %}

    <br>

    <a href="/home">Go back</a>
    </body>
</html>


